* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #8ccdff;
  color: #222;
}
.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
.book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}
.book img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3/4;
}
.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
.book h4 {
  color: hsl(208, 100%, 50%);
  letter-spacing: 0.25rem;
  font-size: 0.75rem;
}
.number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem;
  font-size: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #ba8800;
  color: #fff;
  font-weight: 600;
}
.Title {
  margin: 1rem auto;
  text-align: center;
  text-transform: capitalize;
}
.button1 {
  padding: 10px;
  width: 90%;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 3rem;
  border: none;
  background-color: #43a7ff;
  color: #fff;
  font-weight: 600;
}
.button1:hover {
  background-color: #c8c8c8;
  color: black;
  transition: all 0.3s linear;
}
